*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #d5e1ef;
}

/* Font Styles */

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 800;
  font-style: normal;
}

/* Card Styles */

.card-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 5px 10px grey;
  justify-items: center;
  margin-top: 14rem;
  margin: 0 auto;
  max-width: 32rem;
}

.inner_container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1.6rem 4rem 1.6rem;
}

.info_container {
  text-align: center;
}

.card_image {
  border-radius: 10px;
}
.card_image,
.info_container {
  max-width: 28.8rem;
}

.info_container {
  padding: 0 2.2rem;
}

.card_title {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 2.4rem;
}

.card_text {
  color: grey;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.6rem;
}
